version: 2.1  
# Define the jobs we want to run for this project
orbs:    
  newman: postman/newman@0.0.2 
  node: circleci/node@1.1.6      
  # aws-cli: circleci/aws-cli@2.0     
jobs:
  create-RDS:
    docker:
      - image: cibuilds/aws:1.16.1
    steps:
      - run: aws configure set aws_access_key_id $AWS_EC2_ACCESS_KEY
      - run: aws configure set aws_secret_access_key $AWS_EC2_SECRET_KEY
      - run: aws rds create-db-instance --region $AWS_EC2_REGION  --db-instance-identifier dev-test-rds --db-instance-class db.t3.micro --engine mysql --master-username admin --master-user-password rootadmin --allocated-storage 20 --publicly-accessible --backup-retention-period 0
    
  check-RDS-status:
    docker:
      - image: cibuilds/aws:1.16.1
    steps:
      - run: aws configure set aws_access_key_id $AWS_EC2_ACCESS_KEY
      - run: aws configure set aws_secret_access_key $AWS_EC2_SECRET_KEY
      - run: while DB_INSTANCE_REACH_STATUS=$(aws rds describe-db-instances --region $AWS_EC2_REGION --db-instance-identifier dev-test-rds --output text --query 'DBInstances[*].DBInstanceStatus'); test "$DB_INSTANCE_REACH_STATUS" != "available"; do sleep 5; echo -n '.'; done
  
  import-data-to-RDS:
    docker:
      - image: cimg/mysql:8.0
    # environment:
    #     MYSQL_ROOT_PASSWORD: rootadmin
    #     MYSQL_DATABASE: dev-test-rds
    #     MYSQL_USER: admin
    #     MYSQL_PASSWORD: rootadmin
    steps:
      - checkout
      - run:
          name: Install MySQL CLI; Import dummy data; run an example query
          command: |
            ssh -i ./Flocco-CI-CD.pem -oStrictHostKeyChecking=no -v $USER@$IP
            # sed sqlchanges.sql
            # echo "$DB_INSTANCE_REACH_STATUS"
            # sudo apt-get install default-mysql-client
            # mysql -h 127.0.0.1 -u user -p passw0rd dev-test-rds < ./sqlchanges.sql
  # delete-RDS:
  #   docker:
  #     - image: cibuilds/aws:1.16.1
  #   steps:
  #     - run: aws configure set aws_access_key_id $AWS_EC2_ACCESS_KEY
  #     - run: aws configure set aws_secret_access_key $AWS_EC2_SECRET_KEY
  #     - run: aws rds delete-db-instance --region $AWS_EC2_REGION --db-instance-identifier dev-test-rds  --skip-final-snapshot
  
  # start-ec2: 
  #   docker:   
  #     - image: cibuilds/aws:1.16.1 
  #   steps:
  #     - run: aws configure set aws_access_key_id $AWS_EC2_ACCESS_KEY
  #     - run: aws configure set aws_secret_access_key $AWS_EC2_SECRET_KEY
  #     - run: aws ec2 start-instances --region $AWS_EC2_REGION --instance-ids $AWS_EC2_INSTANCE_ID

  # check-for-ec2-status:  
  #   docker:  
  #     - image: cibuilds/aws:1.16.1  
  #   steps:
  #     - run: aws configure set aws_access_key_id $AWS_EC2_ACCESS_KEY  
  #     - run: aws configure set aws_secret_access_key $AWS_EC2_SECRET_KEY
  #     - run: while INSTANCE_REACH_STATUS=$(aws ec2 describe-instance-status --region $AWS_EC2_REGION --instance-ids $AWS_EC2_INSTANCE_ID --output text --query 'InstanceStatuses[*].InstanceStatus.Details[*].Status'); test "$INSTANCE_REACH_STATUS" != "passed"; do sleep 5; echo -n '.'; done
   
  # # #Deployment Command 
  # pull-and-build:   
  #   docker:  
  #     - image: circleci/node:14.16.1 
  #   steps: 
  #     # - run: apk add --update openssh-client git 
  #     - checkout
  #     - run: ssh -oStrictHostKeyChecking=no -v $username@$ip "./deploy.sh" 
  #     - run: 
  #         command: | 
  #           curl -u ${API_TRIGGER_TOKEN}: \
  #             -d 'build_parameters[CIRCLE_JOB]=stop-ec2' \
  #             https://circleci.com/api/v1.1/project/bitbucket/flocco-tech/backend-merchant/tree/master
  #         when: on_fail

  # newman-collection-run-sanity:
  #   executor: 
  #     name: newman/postman-newman-docker
  #     tag: 5.3.0
  #   steps:
  #     - checkout
  #     - newman/newman-run:
  #         collection: ./test/merchant_backend_sanity_collection.json
  #     - run: 
  #         command: | 
  #           newman run ./test/stop_ec2_request_collection.json
  #         when: on_fail

  # newman-collection-run-success:
  #   executor: 
  #     name: newman/postman-newman-docker
  #     tag: 5.3.0
  #   steps:
  #     - checkout
  #     - newman/newman-run:
  #         collection: ./test/merchant_backend_success_collection.json
  #     - run: 
  #         command: | 
  #           newman run ./test/stop_ec2_request_collection.json
  #         when: on_fail

  # newman-collection-run-failuer1:  
  #   executor: 
  #     name: newman/postman-newman-docker
  #     tag: 5.3.0
  #   steps: 
  #     - checkout
  #     - newman/newman-run:
  #         collection: ./test/merchant_backend_failuer_scenario1_collection.json
  #     - run: 
  #         command: | 
  #           newman run ./test/stop_ec2_request_collection.json
  #         when: on_fail

  # newman-collection-run-failuer2:
  #   executor: 
  #     name: newman/postman-newman-docker
  #     tag: 5.3.0
  #   steps: 
  #     - checkout
  #     - newman/newman-run:
  #         collection: ./test/merchant_backend_failuer_scenario2_collection.json
  #     - run: 
  #         command: | 
  #           newman run ./test/stop_ec2_request_collection.json
  #         when: on_fail          
  # # # # # #deploy to the test server
  # # deploy:
  # #   docker:
  # #     - image: arvindr226/alpine-ssh
  # #   steps:
  # #     #ip and user of the test server
  # #     - run: ssh -oStrictHostKeyChecking=no -v $USER@$IP "./deploytest.sh" 

  # # newman-collection-run-test:
  # #   executor: newman/postman-newman-docker
  # #   steps: 
  # #     - checkout
  # #     - newman/newman-run:
  # #         collection: https://www.getpostman.com/collections/6446f5ecd440f49e4746?apikey=PMAK-61934b34bd1cd60051615fc3-a40f33edd7df44f1e7bf05b1fedefe47b7 
  # #     # - run: 
  # #     #     command: ssh -oStrictHostKeyChecking=no -v $USER@$IP "./revertdeploy.sh"
  # #     #     when: on_fail
          
  # stop-ec2: 
  #   docker:
  #     - image: cibuilds/aws:1.16.1 
  #   steps:
  #     - run: aws configure set aws_access_key_id $AWS_EC2_ACCESS_KEY
  #     - run: aws configure set aws_secret_access_key $AWS_EC2_SECRET_KEY
  #     - run: aws ec2 stop-instances --region $AWS_EC2_REGION --instance-ids $AWS_EC2_INSTANCE_ID

# Orchestrate our job run sequence
workflows:
  version: 2
  build-project: 
    jobs:
      # - create-RDS 
      # - check-RDS-status:
      #     requires:
      #       - create-RDS
      - import-data-to-RDS
          # requires:
          #   - check-RDS-status
      
      # - delete-RDS:
      #     requires:
      #       - check-RDS-status
      # - start-ec2:
      #     filters:
      #         branches:
      #           only:
      #             - master
 
      # - check-for-ec2-status:
      #     requires:
      #       - start-ec2
      #     filters:
      #       branches:
      #         only:
      #           - master

      # - pull-and-build:
      #     requires:
      #       - check-for-ec2-status
      #     filters:
      #       branches:
      #         only:
      #           - master
              
      # - newman-collection-run-sanity: 
      #     requires:
      #       - pull-and-build

      # - newman-collection-run-success: 
      #     requires:
      #       - newman-collection-run-sanity  
  
      # - newman-collection-run-failuer1:
      #     requires:
      #       - newman-collection-run-success

      # - newman-collection-run-failuer2:
      #     requires:
      #       - newman-collection-run-failuer1  
      # # # - deploy: 
      # # #     requires:
      # # #       - newman-collection-run 
      
      # # # - newman-collection-run-test:
      # # #     requires:
      # # #       - deploy 
         
      # - stop-ec2:
      #     requires: 
      #       - newman-collection-run-failuer2